In [40]:
import pandas as pd
import numpy as np
from utility import preprocess_text
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
document = ['The session started yesterday',
           'It was a NLP Session in Inceptez',
           'In the Session, the mentees are very very curious to learn',
           'The weather is hot',
           'It will rain tommorow after the hot week ',
           'The food is delicious',
           'Do have good food to be healthy',
           'India is entering election on this year',
           'Mentor is connecting from outside to join the session',
           'Russia is in war with ukraine',
           'Dubai is hottest of hottest country ',
           'Sri Lanka is in economic crisis']
label = ['learn', 'learn', 'learn', 'weather', 'weather', 'food', 'food', 'politics',
        'learn', 'politics', 'weather', 'politics']

# document = ['I like cats do you like it',
#             'I like dogs too']
# label = ['animal', 'animal']

In [3]:
data = pd.DataFrame([document, label]).T

In [4]:
data.columns = ['document', 'label']

In [5]:
data

                                             document     label
0                       The session started yesterday     learn
1                    It was a NLP Session in Inceptez     learn
2   In the Session, the mentees are very very curi...     learn
3                                  The weather is hot   weather
4           It will rain tommorow after the hot week    weather
5                               The food is delicious      food
6                     Do have good food to be healthy      food
7             India is entering election on this year  politics
8   Mentor is connecting from outside to join the ...     learn
9                       Russia is in war with ukraine  politics
10               Dubai is hottest of hottest country    weather
11                    Sri Lanka is in economic crisis  politics

In [6]:
data['document'] = data['document'].apply(preprocess_text)

In [7]:
data

                                  document     label
0                session started yesterday     learn
1                     nlp session inceptez     learn
2            session mentees curious learn     learn
3                              weather hot   weather
4                   rain tommorow hot week   weather
5                           food delicious      food
6                        good food healthy      food
7             india entering election year  politics
8   mentor connecting outside join session     learn
9                       russia war ukraine  politics
10           dubai hottest hottest country   weather
11               sri lanka economic crisis  politics

# Count Vectorizer -  One Hot

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

In [9]:
cv = CountVectorizer(binary=True)

In [10]:
cv_matrix = cv.fit_transform(data['document']).toarray()

In [11]:
cv.get_feature_names_out()

array(['connecting', 'country', 'crisis', 'curious', 'delicious', 'dubai',
       'economic', 'election', 'entering', 'food', 'good', 'healthy',
       'hot', 'hottest', 'inceptez', 'india', 'join', 'lanka', 'learn',
       'mentees', 'mentor', 'nlp', 'outside', 'rain', 'russia', 'session',
       'sri', 'started', 'tommorow', 'ukraine', 'war', 'weather', 'week',
       'year', 'yesterday'], dtype=object)

In [12]:
pd.DataFrame(cv_matrix, columns = cv.get_feature_names_out())

,connecting,country,crisis,curious,delicious,dubai,economic,election,entering,food,...,session,sri,started,tommorow,ukraine,war,weather,week,year,yesterday
0,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
5,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0
8,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
10,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [13]:
pd.DataFrame(cv_matrix, columns = cv.get_feature_names_out())

,connecting,country,crisis,curious,delicious,dubai,economic,election,entering,food,...,session,sri,started,tommorow,ukraine,war,weather,week,year,yesterday
0,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
5,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0
8,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
10,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0

# Bag of Words

In [14]:
from sklearn.feature_extraction.text import CountVectorizer

In [16]:
cv = CountVectorizer(ngram_range=(1, 3), min_df= 2, binary=False)

In [17]:
cv_matrix = cv.fit_transform(data['document']).toarray()

In [18]:
actual_columns = cv.get_feature_names_out()

In [19]:
modified_columns = pd.DataFrame(cv_matrix, columns = cv.get_feature_names_out()).columns

In [20]:
set(columns_act) - set(modified_columns)

NameError: name 'columns_act' is not defined

In [21]:
len(columns_act)

NameError: name 'columns_act' is not defined

In [22]:
len(modified_columns)

3

In [23]:
pd.DataFrame(cv_matrix, columns = cv.get_feature_names_out())

    food  hot  session
0      0    0        1
1      0    0        1
2      0    0        1
3      0    1        0
4      0    1        0
5      1    0        0
6      1    0        0
7      0    0        0
8      0    0        1
9      0    0        0
10     0    0        0
11     0    0        0

In [24]:
#n-grams, min_df, max_df, Binary

# TF-IDF

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [26]:
tf = TfidfVectorizer()

In [27]:
tf_matrix = tf.fit_transform(data['document']).toarray()

In [28]:
actual_columns = tf.get_feature_names_out()

In [29]:
modified_columns = pd.DataFrame(tf_matrix, columns = tf.get_feature_names_out()).columns

In [30]:
pd.DataFrame(tf_matrix, columns = tf.get_feature_names_out())

,connecting,country,crisis,curious,delicious,dubai,economic,election,entering,food,...,session,sri,started,tommorow,ukraine,war,weather,week,year,yesterday
0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,...,0.433825,0.0,0.637101,0.000000,0.00000,0.00000,0.000000,0.000000,0.0,0.637101
1,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,...,0.433825,0.0,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.0,0.000000
2,0.000000,0.000000,0.0,0.537318,0.000000,0.000000,0.0,0.0,0.0,0.000000,...,0.365879,0.0,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.0,0.000000
3,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.00000,0.00000,0.758631,0.000000,0.0,0.000000
4,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,...,0.000000,0.0,0.000000,0.517257,0.00000,0.00000,0.000000,0.517257,0.0,0.000000
5,0.000000,0.000000,0.0,0.000000,0.758631,0.000000,0.0,0.0,0.0,0.651521,...,0.000000,0.0,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.0,0.000000
6,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.519058,...,0.000000,0.0,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.0,0.000000
7,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.5,0.5,0.000000,...,0.000000,0.0,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.5,0.000000
8,0.473319,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,...,0.322300,0.0,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.0,0.000000
9,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.57735,0.57735,0.000000,0.000000,0.0,0.000000
10,0.000000,0.408248,0.0,0.000000,0.000000,0.408248,0.0,0.0,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.0,0.000000
11,0.000000,0.000000,0.5,0.000000,0.000000,0.000000,0.5,0.0,0.0,0.000000,...,0.000000,0.5,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.0,0.000000

In [31]:
data

                                  document     label
0                session started yesterday     learn
1                     nlp session inceptez     learn
2            session mentees curious learn     learn
3                              weather hot   weather
4                   rain tommorow hot week   weather
5                           food delicious      food
6                        good food healthy      food
7             india entering election year  politics
8   mentor connecting outside join session     learn
9                       russia war ukraine  politics
10           dubai hottest hottest country   weather
11               sri lanka economic crisis  politics

In [39]:
data

                                  document     label
0                session started yesterday     learn
1                     nlp session inceptez     learn
2            session mentees curious learn     learn
3                              weather hot   weather
4                   rain tommorow hot week   weather
5                           food delicious      food
6                        good food healthy      food
7             india entering election year  politics
8   mentor connecting outside join session     learn
9                       russia war ukraine  politics
10           dubai hottest hottest country   weather
11               sri lanka economic crisis  politics

In [42]:
doc_sim_df = pd.DataFrame(cosine_similarity(tf_matrix))

In [43]:
doc_sim_df

,0,1,2,3,4,5,6,7,8,9,10,11
0,1.000000,0.188204,0.158727,0.000000,0.000000,0.000000,0.000000,0.0,0.139822,0.0,0.0,0.0
1,0.188204,1.000000,0.158727,0.000000,0.000000,0.000000,0.000000,0.0,0.139822,0.0,0.0,0.0
2,0.158727,0.158727,1.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.117923,0.0,0.0,0.0
3,0.000000,0.000000,0.000000,1.000000,0.289423,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0
4,0.000000,0.000000,0.000000,0.289423,1.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0
5,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.338177,0.0,0.000000,0.0,0.0,0.0
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.338177,1.000000,0.0,0.000000,0.0,0.0,0.0
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.0,0.0,0.0
8,0.139822,0.139822,0.117923,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.0,0.0,0.0
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,1.0,0.0,0.0
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,1.0,0.0
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,1.0

In [44]:
from sklearn.cluster import KMeans

In [50]:
km = KMeans(n_clusters=4, random_state=0)
km.fit_transform(doc_sim_df)

/opt/homebrew/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

array([[1.40553355, 1.15332785, 0.71582719, 1.38255934],
       [1.40553355, 1.15332785, 0.71582719, 1.38255934],
       [1.39987639, 1.14642683, 0.74522685, 1.37680779],
       [1.40681371, 1.15488761, 1.26921756, 0.50245416],
       [1.40681371, 1.15488761, 1.26921756, 0.50245416],
       [0.46797922, 1.16805992, 1.28121497, 1.39487246],
       [0.46797922, 1.16805992, 1.28121497, 1.39487246],
       [1.37672053, 0.8660254 , 1.23577822, 1.35325726],
       [1.39583856, 1.14149282, 0.76737157, 1.3727021 ],
       [1.37672053, 0.8660254 , 1.23577822, 1.35325726],
       [1.37672053, 0.8660254 , 1.23577822, 1.35325726],
       [1.37672053, 0.8660254 , 1.23577822, 1.35325726]])

In [51]:
km.labels_

array([2, 2, 2, 3, 3, 0, 0, 1, 2, 1, 1, 1], dtype=int32)

In [52]:
cluster_labels = km.labels_

In [53]:
cluster_labels = pd.DataFrame(cluster_labels, columns=['ClusterLabel'])

In [54]:
pd.concat([data, cluster_labels], axis  = 1)

                                  document     label  ClusterLabel
0                session started yesterday     learn             2
1                     nlp session inceptez     learn             2
2            session mentees curious learn     learn             2
3                              weather hot   weather             3
4                   rain tommorow hot week   weather             3
5                           food delicious      food             0
6                        good food healthy      food             0
7             india entering election year  politics             1
8   mentor connecting outside join session     learn             2
9                       russia war ukraine  politics             1
10           dubai hottest hottest country   weather             1
11               sri lanka economic crisis  politics             1